<!doctype html>
<html>
<style type="text/css">
div
{
width:1012;
margin-left:auto;
margin-right:auto;
}
</style>
  <div style="max-width:1012px;display:block>
  <head>
		<div>
<div style="float:left; width: 160px;">
		<img src="..\..\..\images\logo-NATO-OTAN.png" alt="NATO-logo" style="height:180px;cursor:pointer;">
</div>
<div style="float:right; padding: 5px;">
		<img src="..\..\..\images\NATO_IFC_logo_2012_low_sat_200_v3.png" alt="NATO Intelligence Fusion Centre (NIFC) logo" style="cursor:pointer;">
</div>
    <h1>
    NATO Intelligence Fusion Centre2
    </h1><br/>
    <h2>          
    RAF Molesworth, UK
              </h2>
  </head>
  <body>
    {{ content }}
  </body>
  </div>
</html>
