---
layout: NIFCstd
---
<h2 style="color:powderblue;">{{ page.eventName }}</h2>
<p class="meta">
<h4 style="color:LemonChiffon;">
From: {{ page.date | date: "%A %-d %B %Y" }}
<br/>
To: {{ page.endDate | date: "%A %-d %B %Y" }}
<br/><br/>
Conference will be hosted at the NATO Intelligence Fusion Centre (NIFC) at RAF Molesworth, UK
<div class="post"  style="color:powderblue;">
  {{ content }}
 </div>
Conference will be presented by {{ page.branch }}
<br/>
Coordinator is: {{ page.coordinator }}
<br/>
Email: {{ page.email}}
<br/>
Phone (DSN): 314-268{{ page.extension }}
<br/>
Phone Commercial: +44 148 084 {{ page.extension }}
</p>
<br/>
<br/>
Ensure you have access to the base before registering.
<br/> 
To register and pay click: <a href="{{ page.payment }}">Pay here</a>
</h4>
